body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
h1, h4{
    color: hsl(0, 0%, 90%);
}
h1{
    font-size: 3rem;
    font-weight: bold;
}
h4{
    position: relative;
    top: -20px;
    font-size: 2rem;
    font-weight: bold;
}
.playingDisplay, .highscore{
    position: relative;
    top: -60px;
}
.highscore{
    position: relative;
    top: -80px;
}
button{
    font-size: 2.5rem;
    background-color: hsl(240, 69%, 57%);
    border: none;
    border-radius: 10px;
    color: hsl(0, 0%, 90%);
    cursor: pointer;

    transition: transform 0.3s ease-in-out;
}
button:hover{
    background-color: hsl(240, 69%, 67%);

    transform: scale(1.1);
}
.mole-container{
    position: relative;
    top: -60px;
    height: 800px;
    width: 600px;
    background-color: hsl(0, 0%, 10%);
    border-radius: 5px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mole{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 30%);
    margin: 10px 10px;
    cursor: pointer;
}
.mole:hover{
    background-color: hsl(0, 0%, 40%);
}
.hit-anim{
    transform: rotateX(720deg);
        transition: 2s;
}

.wrong-click {
  transition: transform 2s ease-in-out;
    transform: rotateX(720deg);

  background-color: orange !important;
}
